package views

templ CustomCursor() {
	<div 
		id="custom-cursor-dot" 
		class="fixed top-0 left-0 w-2 h-2 bg-[#00F5A0] rounded-full pointer-events-none z-50 -translate-x-1/2 -translate-y-1/2 transition-transform duration-75 shadow-[0_0_12px_#00F5A0]"
	></div>
	<div 
		id="custom-cursor-ring" 
		class="fixed top-0 left-0 w-8 h-8 border border-[#00F5A0]/30 rounded-full pointer-events-none z-50 -translate-x-1/2 -translate-y-1/2 transition-all duration-300 ease-out"
	></div>
}
