package views

templ ThreeCanvas() {
	<div class="fixed inset-0 pointer-events-none z-0 overflow-hidden" id="three-canvas-container">
		<canvas id="three-bg-canvas" class="w-full h-full opacity-45"></canvas>
	</div>
}
